<h1>Login</h1>

<div class='jumbotron'>
  <%= bootstrap_form_tag url: '/login' do |f| %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <div class='pull-right'>
      <%= f.submit :Login %>
    </div>
  <% end %>
</div>
