<!-- app/views/sessions/new.html.erb -->

<header class="page-header">
  <h1>Login</h1>
</header>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">

    <%= form_tag '/login' do %>

      <div class="form-group">
      Email
      <%= text_field_tag :email %>
      </div>

      <div class="form-group">
      Password
      <%= password_field_tag :password %>
      </div>

      <%= submit_tag "Submit" %>

    <% end %>

  </div>
</div>