<% if product = Product.find_by(id: product_id) %>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3><%= product.name %></h3>
        <p><%= humanized_money_with_symbol line_total %></p>
      </div>
    </div>
  </div>
<% end %>