<!DOCTYPE html>
  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user %> </h1>
    <p>
      This is a email to confirm your order from Jungle. 
    </p>
    <p>Thanks for use Jungle Web Site!</p>
    <br/>
    <p>Login again: <%= @url %></p>
  </body>
</html>