<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Consumer</h1>
    <p>
    Here is a receipt for your awesome order! <br>
    Definitely a choice selection of items, you truly are a connoiseur.
    </p>
    <div>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |item| %>
            <%= render 'item', item: item %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th>
              TOTAL:
            </th>
            <th>
              <%=  number_to_currency((@order.total_cents / 100), :unit => "$") %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <p>Have a great day and remember to keep consuming mindlessly!</p>
  </body>
</html>