<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Consumer</h1>
    <p>
    Here is a receipt for your awesome order! <br>
    Definitely a choice selection of items, you truly are a connoiseur.
    </p>

    <p>Have a great day and remember to keep consuming mindlessly!</p>
  </body>
</html>