<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your JUNGLERIFIC order!</h1>
    <hr>
    You have successfully placed a fabulous order on Jungle! Please find your order details below...
    ORDER RECEIPT
    <hr>
    <p>
    <br>
    <%= render 'item' %>
    <h4>Unique Items Purchased: <%= @order.line_items.count %></h4>
    <h4>Total Price: <%= number_to_currency(@order.total) %></h4>
    </p>
    <p>Thanks for having such great taste, and have a great day!</p>
    <h6>Please do not reply to this email. If you need assistance, contact us at <%= @url %></h6>
  </body>
</html>
