<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Jungle.com</h1>
    <p>
      Your order was succeccfully placed,
      your order_number is: <%= @order.id %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your order and have a great day!</p>
  </body>
</html>