<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
  <h1>Thanks for your order!</h1>
  <h2>Your order details: </h2>
  <p>Details go here</p>
</body>
</html>