<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
  <h1>Thanks for your order!</h1>
  <hr>
  <h2>Your order details: </h2>
  <ul>
    <% @order.line_items.each do |i| %>
    <li><%=i.product.name%><br>
    <%=i.quantity%><br>
    $<%=i.item_price * i.quantity%><br>
    </li>
    <% end %>
  </ul>
  <p>Total price: <%=number_to_currency(@order.total)%></p>
</body>
</html>