<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order, <%= @user.name %></h1>
    <p>
      Here is your order summary:
    </p>



    <p>We hope your enjoy your products and have a great day!</p>
  </body>
</html>
