<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Reid's Jungle App Store, <%= @user.name %></h1>
    <p>
      You have successfully signed up to THE JUNGLE,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
      but Watch out "It's gonna bring you down" -AXEL
    </p>
   <p> See you soon!</p>
  </body>
</html>