<tr>
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= image_tag product.image.tiny%>
  </td>
  <td>
    <%= order.quantity %>
  </td>
  <td>
    <%= number_to_currency (order.total_price_cents / 100.0 ) %>
  </td>
</tr>      

