<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

<%
=begin%>
 The items in the order and:
Their image, name and description
Their respective quantities and line item totals
The final amount for the order
The email that was used 
Consider using a partial for rendering each line_item on the order details page. This will keep your show template cleaner
<%
=end%>