<section class="orders-show">

  <header class="page-header">
    <h1>Order: <%= @order.id %></h1>
    <h2>Confirmation sent To: <%= @order.email %></h1>

  </header>

  <div class="order-summary jumbotron">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <%= render partial: "line_item", locals: {products: @products} %>

  </table>


    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
