<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
  <div class="order-details">
    <h4>Order Detail</h4>
        <table>
          <thead>
          <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            <th>Total Price</th>
          </tr>
          </thead>
          <tbody>
          <%= render @order.line_items %>
          </tbody>
        </table>
  </div>
  <span>Email: <%= @order.email %></span>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>