<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you!</h1>
    <p>
      Here are the details of your order:
    </p>
    <ul>
      <% @order.line_items.each do |li| %>
      <% @thisLi = LineItem.find(li) %>
      <% @thisProd = Product.find(@thisLi.product_id) %>
      <li>
        <strong>Item Name:</strong> <%= @thisProd.name %><br>
        <strong>Quantity:</strong> <%= @thisLi.quantity %><br>
        <strong>Cost:</strong>
        <%= number_to_currency @thisLi.total_price_cents / 100 %>
      </li>
      <% end %>
    </ul>
  </body>
</html>
