<div class="order-summary jumbotron">
  <div class="panel panel-default items">
    <h3>Your cart is empty. Please add items before checking out.</h3>
  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</div>
