<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @order.email %></h3>
    <h3>Your order was successful</h3>
    <hr>
    <ol>
      <% @order.line_items.each do |item| %>
        <li><%= item.product item.quantity.to_i %></li>
        <li><%= item.quantity.to_i %></li>
      <% end %>
    </ol>

    <p>Total: <%= @order.total_cents / 100.0 %></p>

   
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>