<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @order.email %></h3>
    <h3>Your order was successful</h3>
    <hr>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |item| %>
            <%= render 'order', product: item.product, quantity: item.quantity.to_i %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= @order.total_cents / 100.0 %>
            </th>
          </tr>
        </tfoot>
      </table>

    <p>Total: <%= @order.total_cents / 100.0 %></p>

   
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>


