<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2" style="background:#F5F5F5;">CATEGORY</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</section>