<section class="admin-products-index">
  <header class="page-header">
    <h1>Admin &raquo; All Products</h1>
  </header>
  <div>
    <%= link_to '+ New Product', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>
  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thread>
        <tr>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thread>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</section>