// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.navbar-text {
  margin-top: 0;
}
