// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.login-summary {

  .panel-default {
    padding-bottom:20px
  }
  .login-header {
    
    padding-left: 20px;
  }

  form {
    padding-left: 20px;

    .login-input {
      span {
        input {
          padding:5px;
          width: 50px;
        }
      }
    }
    .submit-btn {
      margin-left:20px;
    }
    
  }
}

.register-summary .jumbotron {
  padding-left: 5px;
  padding-right: 5px;
}


// Bootstrap adjustments
form.button_to {
  display: inline;
}
