// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

body:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-filter: blur(4px);
  background: url('./background.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color:white;
}

h4.white{
  color:white;
}
.dl-vertical{
  background-size: contain;
  float:left;
  margin: 4.5em;

}
.dl-horizontal{
  background-size: contain;

}
.grid{
  border: 1px solid #ddd;
  padding:0.5em;
  background-color:white;
  background-size: contain;


}
.txt{
  background-size: contain;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding:0.5em;
  background-color:white;
  width:50px;

}
