.cart-show {
  tr div {
    width: max-content;
  }

  button.stripe-button-el span {
    border-radius: 0.25em;
    border: 0.1em solid rgba(0, 130, 29, 0.8);
    background: rgba(0, 130, 29, 0.7);
    color: white;
  }
}
