main section.products-index,
main section.categories-show {
  .products {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    grid-template-rows: min-content;

    @media screen and (max-width: 1500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    article {
      .soldout {
        min-width: 110px;
        background: rgba(224, 14, 14, 0.8);
        border: 1px solid rgba(224, 14, 14, 0.8);
        border-radius: 0.25em;
        color: white;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
      }

      a {
        text-decoration: none;
      }
      font-family: "Montserrat";
      width: 100%;
      position: relative;
      text-align: center;
      border-radius: 0.25em;
      border: 0.1em solid rgba(0, 130, 29, 0.3);
      box-shadow: rgba(0, 130, 29, 0.16) 0px 3px 6px, rgba(0, 130, 29, 0.23) 0px 3px 6px;
      // transition: opacity 300ms linear;

      &:hover {
        transition: all 150ms linear;
        background-color: rgba(0, 130, 29, 0.7);
        h1 {
          color: white;
        }

        button {
          background: white;
          color: rgba(0, 130, 29, 0.7);
        }
      }
      img {
        width: 100%;
        height: auto;
        border: none;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
      }
      h1 {
        margin: 0;
        padding: 0.25em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(0, 130, 29, 0.7);
        font-weight: 700;
        font-family: "Montserrat";
        span {
          font-size: 0.8em;
        }
        span:last-of-type {
          font-size: 0.5em;
        }
      }
      div {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        form {
          display: inline-block;
          margin-left: auto;
        }
        button {
          min-width: 110px;
          padding-left: 1em;
          padding-right: 1em;
          background-color: rgba(0, 130, 29, 0.7);
          color: white;
        }
      }
    }
  }
}
