<section class="categories-index">

  <header class="page-header">
    <h1>Categories</h1>
  </header>
  <div class='products-parallax'>
  </div>
  <div class="categories">
    <%= render @categories %>
  </div>

</section>
