<section class="categories-show">

  <header class="page-header">
    <h1><%= @category.name %></h1>
  </header>

  <article class="categor-detail">

    <div class="row">

      <!-- <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div> -->

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @category.name %></dd>
        </dl>
      </div>
    </div>

  </article>

</section>
