<footer>

<div class="column2">
    <dt>Description: </dt>
    <dd><%= review.description %></dd>
    <dt>Rating:</dt>
    <div class="rating">
</div>
    <dd><%= review.rating %><dd>
</div>
</footer>